
<body style="background-color: rgb(226, 227, 227);">

  <main>
     <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 submitad-wrap">
        <div class="container submitad-main-outer">
        <h4 class="form-ttl">Ad Details</h4>
          <form role="form" [formGroup]="productForm" (ngSubmit)="onProductSubmit()" id="form" enctype="multipart/form-data" >
           <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 submitad-main">
  
              <div class="input-group custom-field-wrap">
                <label>Ad Title<b class="asterisk">*</b></label>
                <input type="text" class="form-control" formControlName="title" [ngClass]="{'is-invalid':productsubmitted && rf.title.errors}" >
                <div *ngIf="productsubmitted && rf.title.errors" class="invalid-feedback">
                  <div *ngIf="rf.title.errors.required">Title is required</div>
              </div>
              </div><!-- /custom-field-wrap-->

              
              <label>Category</label>
                
                
              <select class="w-100 form-control mt-lg-1 mt-md-2" formControlName="category" [ngClass]="{'is-invalid':productsubmitted && rf.category.errors}">
                
                <option>None</option>
                    <option value="Automobiles">Automobiles</option> 
                    <option value="Furniture">Furniture</option> 
                     <option value="Electronic">Electronic</option>
                     <option value="House">House</option>
                     <option value="Others">Others</option>
                     <div *ngIf="productsubmitted && rf.category.errors" class="invalid-feedback">
                      <div *ngIf="rf.category.errors.required">category is required</div>
                  </div>
            </select>
            <br>
  
        
  
  
           
              <div class="input-group custom-field-wrap">
                <label>Ad Description</label>
                <input type="text" class="form-control" formControlName="description" [ngClass]="{'is-invalid':productsubmitted && rf.description.errors}">
                <div *ngIf="productsubmitted && rf.description.errors" class="invalid-feedback">
                  <div *ngIf="rf.description.errors.required">description is required</div>
              </div>
              </div><!-- /custom-field-wrap-->
              
  
              <div class="input-group custom-field-wrap">
                <label>Price<b class="asterisk">*</b></label>
                <input type="text" class="form-control" formControlName="price" [ngClass]="{'is-invalid':productsubmitted && rf.price.errors}">
                <div *ngIf="productsubmitted && rf.price.errors" class="invalid-feedback">
                  <div *ngIf="rf.price.errors.required">price is required</div>
              </div>
              </div><!-- /custom-field-wrap-->
  
              
              <div class="input-group custom-field-wrap">
                <label>Upload Photos</label>
                <input type="text" class="form-control" formControlName="productImage" [ngClass]="{'is-invalid':productsubmitted && rf.productImage.errors}">
                <div *ngIf="productsubmitted && rf.price.errors" class="invalid-feedback">
                  <div *ngIf="rf.productImage.errors.required">Photo is required</div>
              </div>
           </div><!-- /submitad-main-->
           <br>
          
          
        
        <h4 class="form-ttl">Contact Details</h4>
        <section class="col-lg-12 col-md-12 col-sm-12 col-xs-12 contact-dtl-wrap">
          
           <div class="col-md-7 col-md-offset-2 col-sm-7 col-sm-offset-2 contact-dtl-main">
  
              <div class="input-group contact-field-wrap">
                <label>Name<b class="asterisk">*</b></label>
                <input type="text" class="form-control"  formControlName="name" [ngClass]="{'is-invalid':productsubmitted && rf.name.errors}">
                <div *ngIf="productsubmitted && rf.name.errors" class="invalid-feedback">
                  <div *ngIf="rf.name.errors.required">name is required</div>
              </div>
              </div><!-- /custom-field-wrap-->
  
              <div class="input-group contact-field-wrap">
                <label>Email<b class="asterisk">*</b></label>
                <input type="text" class="form-control"  formControlName="email" [ngClass]="{'is-invalid':productsubmitted && rf.email.errors}">
              </div><!-- /custom-field-wrap-->
  
              <div class="input-group contact-field-wrap">
                <label>Phone<b class="asterisk">*</b></label>
                <input type="text" class="form-control"  formControlName="phone" [ngClass]="{'is-invalid':productsubmitted && rf.phone.errors}">
                <div *ngIf="productsubmitted && rf.phone.errors" class="invalid-feedback">
                  <div *ngIf="rf.phone.errors.required">phone is required</div>
              </div>
              </div><!-- /custom-field-wrap-->

              <div class="input-group contact-field-wrap">
                <label>Country<b class="asterisk">*</b></label>
                <input type="text" class="form-control"  formControlName="country" [ngClass]="{'is-invalid':productsubmitted && rf.country.errors}">
                <div *ngIf="productsubmitted && rf.country.errors" class="invalid-feedback">
                  <div *ngIf="rf.country.errors.required">country is required</div>
              </div>
              </div><!-- /custom-field-wrap-->
  

              <div class="input-group contact-field-wrap">
                <label>State<b class="asterisk">*</b></label>
                <input type="text" class="form-control"  formControlName="state" [ngClass]="{'is-invalid':productsubmitted && rf.state.errors}">
                <div *ngIf="productsubmitted && rf.state.errors" class="invalid-feedback">
                  <div *ngIf="rf.state.errors.required">state is required</div>
              </div>
              </div><!-- /custom-field-wrap-->
  
              
  
              <div class="input-group contact-field-wrap">
                <label>City<b class="asterisk">*</b></label>
                <input type="text" class="form-control"  formControlName="city" [ngClass]="{'is-invalid':productsubmitted && rf.city.errors}">
                <div *ngIf="productsubmitted && rf.city.errors" class="invalid-feedback">
                  <div *ngIf="rf.city.errors.required">city is required</div>
              </div>
              </div><!-- /custom-field-wrap-->
  
  
              <div class="input-group contact-field-wrap">
                <label>Pin<b class="asterisk">*</b></label>
                <input type="text" class="form-control"  formControlName="pin" [ngClass]="{'is-invalid':productsubmitted && rf.pin.errors}">
                <div *ngIf="productsubmitted && rf.pin.errors" class="invalid-feedback">
                  <div *ngIf="rf.pin.errors.required">pin is required</div>
              </div>
              </div><!-- /custom-field-wrap-->
  
              <div class="input-group contact-field-wrap">
                <label>Address</label>
                <input type="text" class="form-control"  formControlName="address" [ngClass]="{'is-invalid':productsubmitted && rf.address.errors}">
                <div *ngIf="productsubmitted && rf.address.errors" class="invalid-feedback">
                  <div *ngIf="rf.address.errors.required">Address is required</div>
              </div>
              </div><!-- /custom-field-wrap-->

              

              <label>Time</label>
              <select class="w-100 form-control mt-lg-1 mt-md-2" formControlName="time" [ngClass]="{'is-invalid':productsubmitted && rf.time.errors}">
                
                <option>None</option>
                    <option value="Days">Days</option> 
                    <option value="Weeks">Weeks</option> 
                     <option value="Months">Months</option>
                     
                     <div *ngIf="productsubmitted && rf.time.errors" class="invalid-feedback">
                      <div *ngIf="rf.time.errors.required">category is required</div>
                  </div>
            </select>
             
            <br>
            <div class="input-group contact-field-wrap">
                <label>Duration</label>
                <input type="text" class="form-control"  formControlName="duration" [ngClass]="{'is-invalid':productsubmitted && rf.duration.errors}">
                <div *ngIf="productsubmitted && rf.duration.errors" class="invalid-feedback">
                  <div *ngIf="rf.duration.errors.required">Duration is required</div>
              </div>
              </div><!-- /custom-field-wrap-->
            <br>
  
            <div class="form-group">
              <button class="btn btn-primary">Submit</button>
          </div>
             </div><!-- /contact-dtl-main-->
  
           
         
       </section>
  
  
       