<section class="hero-area bg-1 text-center overly" style=" background: url('../assets/Images/hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Header Contetnt -->
                    <div class="content-block">
                        <h1>All you want in One Go </h1>
                        <p>Join the millions who buy and sell from each other <br> everyday in local communities around the world</p>
                        <div class="short-popular-category-list text-center">
                            <h2>Popular Category</h2>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a (click)="filter('')"><i class="fa fa-all"  routerLink="/products"></i> All Categories</a></li>
                                <li class="list-inline-item">
                                    <a (click)="filter('house')"><i class="fa fa-home"></i> House</a></li>
                                <li class="list-inline-item">
                                    <a (click)="filter('furniture')"><i class="fa fa-bed"></i> Furniture</a>
                                </li>
                            <li class="list-inline-item">
                                    <a href="filter('electronic appliances')"><i class="fa fa-laptop"></i> Electronic Appliances</a>
                                </li>
                            <li class="list-inline-item">
                                    <a (click)="filter('automobiles')"><i class="fa fa-car"></i> Automobiles</a>
                            </li>
    
    <!--							
                                <li class="list-inline-item">
                                    <a href="category.html"><i class="fa fa-music"></i> Musical Instruments</a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="category.html"><i class="fa fa-star"></i> Others</a>-->
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- Advance Search -->
                    <div class="advance-search">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-lg-12 col-md-12 align-content-center">
                                            <form>
                                                <div class="row" style="border-collapse:separate; border: spacing 15px; ;">
                                                   
                                                    <div class="col">
                                                        
                                                        <select class="w-100 form-control mt-lg-1 mt-md-2">
                                                            <option>Category</option>
                                                                <option value="1">Automobiles</option> 
                                                                <option value="2">Furniture</option> 
                                                                <option value="4">Electronic</option>
                                                                <option value="5">House</option>
                                                                <option value="6">Others</option>
                                                        </select>   
                                                      

                                                
                        
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        <input type="text" class="form-control my-2 my-lg-1" id="inputLocation4" placeholder="Location">
                                                    </div>
                                                    <div class="form-group col-md-2 align-self-center">
                                                        <button type="submit" class="btn btn-primary" (enter)="search($event)" >Search Now</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
    
    <!--===================================
    =            Client Slider            =
    ====================================-->
    
    
    <!--===========================================
    =            Popular deals section            =
    ============================================-->
   
    <section class=" section">
        <!-- Container Start -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section title -->
                    <div class="section-title" style="text-align:center ; margin-top:100px; margin-bottom: -100px;">
                        <h2>All Categories</h2>
                        <p></p>
                    </div>
                    <div class="row"></div>
                </div>
            </div>
        </div>
        </section>
    
  


<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of data | filter:searchKey:'title'">
            <div class="card col-md-3">
                <img src="{{item.productImage}}" alt="" routerLink="/details/{{item.id}}" style="cursor: pointer;">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
                <p><strong>Rent:</strong> Rs. {{item.price}}</p>
                <button class="btn btn-primary" (click)=addtocart(item)>Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>