
----------------------------------------
<h1>title</h1>
'category': string;
'price': number;
<p>Spacious 1 Bhk semi furnished flat for rent in Lr Bande, flat is on 2nd floor with good interior, apartment comes with lift, car park, 24/7 water facility, 24 hours security, CCTV camera installed, and power backup, with ups facility, every flat tenant have dedicated car parking, easy access to super markets, hospitals, restaurants, clinics, banks and ATM, near by access to Manyata tech park, Hebbal and ring road, for more information please call.</p>
'name': string;
'email': string;
'phone': number;
'country': string;
'state': string;
'city': string;
'pin': number;
'status': boolean;
'time': number;
'duration': string;

'productImage':string;